# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# Distribution
dist/
build/
*.egg-info/

# OS
Thumbs.db
.DS_Store

# Project data (se puede versionar más adelante si quieres)
data/*.json
reports/*.html
reports/*.pdf